@model DashboardPagination


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item@(Model.PageNumber == 1? " disabled" : "")"><a class="page-link" href="?index=@(Model.PageNumber-2)">Previous</a></li>
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            <li class="page-item@(i == Model.PageNumber? " active" : "")"><a class="page-link" href="?index=@(i-1)">@i</a></li>
        }
        <li class="page-item@(Model.PagesCount == Model.PageNumber || Model.PagesCount == 0? " disabled" : "")"><a class="page-link" href="?index=@(Model.PageNumber)">Next</a></li>

    </ul>
</nav>
<script>
    if (window.location.href.includes("searchTerms")) {
        var queryString = window.location.href.slice(window.location.href.indexOf('searchTerms'))

        console.log(queryString)
        if (queryString) {
            var anchors = document.querySelectorAll(".page-link");
            console.log(anchors)
            for (var i = 0; i < anchors.length; i++) {
                var link = anchors[i].href
                anchors[i].href = link + "&" + queryString
                console.log(anchors[i])
            }
        }
    }
</script>
